<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite" thread-count="2" parallel="tests">
	<test name="BrowserTest">
		<parameter name="browser" value="Chrome" />
		<classes>
			<class name="qa.consulting.com.AutomatedTesting.AutomationPracticeTest"></class>
		</classes>
	</test>
</suite>
